@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');
.menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 20px;
    /* max-width: 800px; */
    margin: 20px auto;
    border-bottom: 1px solid #eee;
    
    @media (max-width: 650px) {
      flex-direction: column;
      align-items: left;
    }

    button{
      background: none;
  border: none;
 
  font-size: 19px;
  cursor: pointer;
    }
    
    .item {
      padding: 18px 28px;
      cursor: pointer;
      transition: color .3s ease-out;
      text-decoration: none;
      color: #111;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-size: 12px;
      margin: 5px 0;
      
      &.active {
        color: #fff;
      }
    }
    
    .indicator {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 30px;
    }

  }

  /* menu.css */
.realtor-listing-form {
  display: table;
  max-width: 400px;
  margin: 20px; /* Adjust margin as needed */
}

.realtor-listing-form p {
  display: table-row;
  margin-bottom: 10px;
}

.realtor-listing-form label,
.realtor-listing-form input,
.realtor-listing-form textarea {
  display: table-cell;
  margin-bottom: 15px; /* Add bottom margin to form elements */
}

.realtor-listing-form label {
  margin-right: 10px; /* Add some spacing between label and input/textarea */
}

button {
  margin-top: 15px; /* Add some space above the button */
  border-radius: 20px;
  padding: 10px;
  font-family:'Oswald', sans-serif ;
  background-color: #001f3f;
  color: white;
  cursor: pointer;
}
